<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}Lets Eat!{{else}}Im straving!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
